.button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 113px;
  height: 95px;

  border: 1px solid $border-color;
  border-radius: 10px;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  &:hover {
    border-color: $accent-hover-color;
  }
}

.active {
  border-color: $accent-color;
}

.icon {
  fill: none;
  stroke: $primary-text-color;
}

.title {
  max-width: 80px;
}
